<!DOCTYPE html>       
<!--
==========================================================================
云捷GO自动生成修改页面代码,只生成一次,按需修改.
生成日期：2020-05-18 17:22:57
生成路径: template/module/rmp_file/edit.html
生成人：张大方
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (ossUrl)}}
    <link href="/resource//ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-rmp_file-edit">
        <input name="Id" value="{{.rmp_file.Id}}" type="hidden">
            
            <div class="form-group">
                <label class="col-sm-3 control-label">文件名称：</label>
                <div class="col-sm-8">
                    <input name="fileName" value="{{.rmp_file.FileName}}" class="form-control"  type="text" required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">文件后缀名：</label>
                <div class="col-sm-8">
                    <input name="fileExt" value="{{.rmp_file.FileExt}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">存储位置：</label>
                <div class="col-sm-8">
                    <textarea name="storeList" class="form-control"
                              >{{.rmp_file.StoreList}}</textarea>
                </div>
            </div>     
            <div class="form-group">
                <label class="col-sm-3 control-label">预览图片：</label>
                <div class="col-sm-8">
                    <input name="prevFilePic" value="{{.rmp_file.PrevFilePic}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">预览视频：</label>
                <div class="col-sm-8">
                    <input name="prevFileVideo" value="{{.rmp_file.PrevFileVideo}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">资源类型：</label>
                <div class="col-sm-8">
                    <input name="rmpTypeId" value="{{.rmp_file.RmpTypeId}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">meta_data：</label>
                <div class="col-sm-8">
                    <textarea name="metaData" class="form-control"
                              >{{.rmp_file.MetaData}}</textarea>
                </div>
            </div>     
            <div class="form-group">
                <label class="col-sm-3 control-label">路径id：</label>
                <div class="col-sm-8">
                    <input name="pathId" value="{{.rmp_file.PathId}}" class="form-control"  type="text" >
                </div>
            </div>
              
            <div class="form-group">
                <label class="col-sm-3 control-label">是否为文件包（0不是 1是）：</label>
                <div class="col-sm-8">
                    {{getDictTypeRadio "sys_yes_no" "isPackage" "IsPackage"}}
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-sm-3 control-label">父级文件id(文件包专用)：</label>
                <div class="col-sm-8">
                    <input name="parentId" value="{{.rmp_file.ParentId}}" class="form-control"  type="text" >
                </div>
            </div>
              
            <div class="form-group">
                <label class="col-sm-3 control-label">文件状态（0正常 00000001自身停用, 00000010父级停用, 00000100分类停用, 00001000路径停用）：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="" required>
                        <label for="status" text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>  
                      
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" value="{{.rmp_file.Remark}}" class="form-control"  type="text" >
                </div>
            </div>
          
    </form>
</div>
{{template "footer" .Cookie.OssUrl}}
<script src="/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    var prefix = ctx + "module/rmp_file";
    $("#form-rmp_file-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-rmp_file-edit').serialize());
        }
    }
                                                                            
    
</script>
</body>
</html>